.ept-cust-mb-sb-header{display: none;}
.ept-cust-dt-sb-header {display: block;}
#main-header .ept-ug-mh-l,#main-header .ept-ug-mh-r{display: block;}
a {
    color: #087DDA;
    text-decoration: none;
}
@if variable-exists(product_logo) {
  .ept-prd-logo {
    width: 70px;
    height: 100%;
    max-width: 70px;
    float: left;
    position: relative;
    background-image: url($product_logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}
.breadcrumb-nav {
    margin-top: 0rem;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 1em 10px 0.1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.main-content-wrap {
    padding-top: 100px;
    padding-bottom: 2rem;
}
.site-header {
    display: flex;
    min-height: 90px;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}
.site-logo {
    margin-left: 15px;
    max-width: 180px;
}
.nav-list .nav-list-item .nav-list-link{padding-left: 2.5rem;}
.site-title:hover {background-image: none;}
.site-nav, .site-header, .site-footer {width: 100%;}
.ept-prd-name{float: left;position: relative;display: block;padding-top: 14px;margin-left: 5px;}
.site-footer{display: none !important;}
.side-bar {
    width: 350px;
    background-color: white;
    border-right: 1px solid #dee2e6;
}
.main {
    max-width: 100%;
    margin-left: 348px;
}
.main-header{
	padding: 15px 10px;
	z-index: 99;
    position: fixed;
    width: calc((100% - 340px));
    height: 90px;
    border-bottom: 1px solid #dee2e6;
}
.ept-ug-mh-l{
	font-size: 18px;
    	font-weight: 500;
	padding-left: 1rem;
}
.ept-ug-mh-r{padding-right: 2rem;padding-top: 14px;}
.ept-ug-mh-r select{padding: 5px;}
@media (min-width: 1900px){
	.main-header{
		width: calc((93% - 340px));
	}
}
@media (max-width: 1023px){
.icon {color: #087DDA;}
body{font-size: 16px;}
.site-header{min-height: 50px;}
.main-content-wrap {padding-top: 30px;}
.main-header {height: initial;}
#main-header .ept-ug-mh-l,#main-header .ept-ug-mh-r{display: none;}
.ept-cust-dt-sb-header {display: none;}
.ept-cust-mb-sb-header{display:block;}
.ept-prd-name {
    margin-left: 80px;
    padding-top: 4px;
}
.ept-prd-logo{height: 30px;}
.ept-ug-mh-l,.ept-ug-mh-r{padding-right: 1rem;padding-top: 4px;}
	.side-bar {
	    width: auto;
	}
	.main {
	    max-width: initial;
	    margin-left: initial;
	}
	.main-header {
	    position: relative;
	    width: calc((100% - 0px));
	}
}
